---
layout: default
image: img/bg-img/bg-1.jpg
---

<!-- ##### Welcome Area Start ##### -->
{% include jumbotron.html %}
<!-- ##### Welcome Area End ##### -->

<!-- ##### Top Catagory Area Start ##### -->
{% include front-category-banner.html %}
<!-- ##### Top Catagory Area End ##### -->


<!-- ##### New Arrivals Area Start ##### -->
{% include front-products-showcase.html %}
<!-- ##### New Arrivals Area End ##### -->

<!-- ##### Brands Area Start ##### -->
{% include front-brands.html %}
<!-- ##### Brands Area End ##### -->

{% include gallery-widget.html %}
