<section class="section-padding-10 clearfix">
  <div class="container-fluid pt-5 mt-5">
      <div class="row">
          <div class="col-12">
              <div class="mb-50">
                <h4>THE LIST IS STILL GROWING</h4>
                <h2 class="display-3">BE PART OF OUR WINNING NETWORK</h2>
              </div>
          </div>
      </div>
  </div>

  <div class="container-fluid pb-5 mb-5">
      <div class="row">
      {% assign companies = site.company  | sort:"date" | reverse %}
      {% for company in companies %}    
        <div class="col-lg-2 col-md-3 col-6">
          <span class="d-block mb-4 h-100">
            <img class="img-fluid" src="{{site.url}}{{company.image}}" alt="">
          </span>
        </div>
      {% endfor %}
      </div>
  </div>
</section>