<style>
/* ---- grid ---- */
.grid {
  background: #EEE;
  max-width: 1200px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */
.grid-sizer,
.grid-item {
  width: 20%;
}

.grid-item {
  height: 120px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.grid-item--width2 { width:  40%; }
.grid-item--width3 { width:  60%; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }
</style>


<section class="new_arrivals_area pt-4 pt-sm-5 pb-4 pb-sm-5 mt-4 mt-sm-5 mb-4 mb-sm-5 clearfix">
  <div class="container-fluid">
      <div class="row">
          <div class="col-12">
              <div class="text-right mb-4 mb-sm-5">
                <h4>HAPPENING(S) TO NOT BE MISSED OUT!</h4>
                <h2 class="display-3">SAVE YOUR SEAT TO OUR WELL ANTICIPATED EVENT!</h2>
              </div>
          </div>
      </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="grid">
          <div class="grid-sizer"></div>
          <div class="grid-item"></div>
          <div class="grid-item grid-item--width2 grid-item--height2"></div>
          <div class="grid-item grid-item--height3"></div>
          <div class="grid-item grid-item--height2"></div>
          <div class="grid-item grid-item--width3"></div>
          <div class="grid-item"></div>
          <div class="grid-item"></div>
          <div class="grid-item grid-item--height2"></div>
          <div class="grid-item grid-item--width2 grid-item--height3"></div>
          <div class="grid-item"></div>
          <div class="grid-item grid-item--height2"></div>
          <div class="grid-item"></div>
          <div class="grid-item grid-item--width2 grid-item--height2"></div>
          <div class="grid-item grid-item--width2"></div>
          <div class="grid-item"></div>
          <div class="grid-item grid-item--height2"></div>
          <div class="grid-item"></div>
          <div class="grid-item"></div>
          <div class="grid-item grid-item--height3"></div>
          <div class="grid-item grid-item--height2"></div>
          <div class="grid-item"></div>
          <div class="grid-item"></div>
          <div class="grid-item grid-item--height2"></div>
        </div>
      </div>
    </div>
  </div>
</section>