<section id="sect--welcome">
    <div class="container text-center pt-5 pb-5 mt-5 mb-5">
        <div class="row">
            <div class="col-12">
                <h3>Welcome to</h3>
                <h2>WELLSPACES.CO</h2>
                <img src="{{site.baseurl}}/{{ site.logo }}" class="img-fluid mt-4 mb-4" alt="">
                <p>We offer inspiring spaces with inviting design, flexible environment and genuine experiences, for the thriving comunities of business and professionals at any scales to work, live and be active.</p>
            </div>
        </div>
    </div>
</section>

<section id="sect-welcome-2">
    <div class="container-fluid pt-5 pb-5 mt-5 mb-5">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-4 p-4 banner1">
                <img src="{{ site.baseurl }}/img/bg-img/bg-2.jpg" alt="">
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-8 p-4 banner2" style="background: url(img/bg-img/bg-plus.png) no-repeat center center;">
                <h4>OUR HALLMARK</h4>
                <h2 class="display-3">YOUR EVERYDAY SPACES TO GROW AND SCALE THAT CONNECTS YOU WITH EVERYTHING INSPIRING AND MAKES YOU FEEL WELL.</h2>
            </div>
        </div>
    </div>
</section>