<section class="brands-area pt-5 pt-sm-5 pb-5 pb-sm-5 mb-4 mb-sm-5 ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4 d-block d-sm-none">
              <h4>AS FEATURED ON</h4>
              <h2 class="display-3 mb-5" >READ WHAT THEY SAY.</h2>
            </div>
            <div class="col-12 col-md-8">
                  <div class="row">
                        {% assign items = site.mediacoverage | sort:"date" %}
                        {% for item in items %}
                              <div class="col-6 col-md-3">
                                <a href="{{item.permalink}}"  class="d-block product-img">
                                  <img src="{{site.baseurl}}{{item.image}}" alt="">
                                </a>
                              </div>
                        {% endfor %}
                  </div>
            </div>
            <div class="col-12 col-md-4 d-none d-sm-block">
            	<h4>AS FEATURED ON</h4>
            	<h2 class="display-3" >READ WHAT THEY SAY.</h2>
            </div>
        </div>
    </div>
</section>
