<section class="new_arrivals_area section-padding-10 clearfix">
  <div class="container-fluid pt-5 mt-5">
      <div class="row">
          <div class="col-12">
              <div class="mt-50">
                <h4>EXPLORE OUR BRAND SERVICES</h4>
                <h2 class="display-3">WE'RE A LOCAL TEAM OF EXPERTS,</br>WITH GLOBAL BRAND VISIONS IN MIND.</h2>
              </div>
          </div>
      </div>
  </div>

  <div class="container-fluid pb-5 mb-5">
      <div class="row">
          <div class="col-12">
              <div class="popular-products-slides owl-carousel">

                    {% assign items = site.product limit:4 | sort:"date" | reverse %}
                    {% for item in items %}
                          {% if item.categories contains "apparel" or item.categories contains "equipment" %}
                          <!-- Single Product -->
                          <div class="single-product-wrapper d-flex flex-row">
                            <!-- Product Image -->
                            <a href="{{item.permalink}}"  class="d-block product-img w-30 p-4">
                              <img src="{{site.baseurl}}{{ item.image[0] }}" alt="">
                            </a>
                            <!-- Product Description -->
                            <div class="product-description w-70 p-4">
                                <a href="{{ item.permalink }}">
                                    <h6>{{ item.title }}</h6>
                                </a>
                                <ul>
                                  <li>{{item.branches[0]}}</li>
                                  <li>{{item.branches[1]}}</li>
                                  <li>{{item.branches[2]}}</li>
                                </ul>
                            </div>
                          </div>
                          {% endif %}
                    {% endfor %}
                    
              </div>
          </div>
      </div>
  </div>
</section>

<!-- ##### Brands Area Start ##### -->
{% include front-brands.html %}
<!-- ##### Brands Area End ##### -->

<section class="new_arrivals_area section-padding-10 clearfix">
      <div class="container-fluid pt-5 mt-5">
          <div class="row">
              <div class="col-12">
                  <div class="text-center mb-50">
                    <h4>STAY WELL, GET CONNECTED</h4>
                    <h2 class="display-3">WE CREATE AN ENGAGING ENVIRONMENT WITH A COLLABORATIVE SPIRIT.</h2>
                  </div>
              </div>
          </div>
      </div>

      <div class="container-fluid pb-5 mb-5">
          <div class="row">
              <div class="col-12">
                  <div class="popular-products-slides owl-carousel">

                        {% assign items = site.gallery  | sort:"date" | reverse %}
                        {% for item in items %}
                              {% if item.categories contains "homepage" %}
                              <!-- Single Product -->
                              <div class="single-product-wrapper p-4">
                                <!-- Product Image -->
                                <a href="{{item.permalink}}" class="d-block product-img">
                                    <img src="{{site.baseurl}}{{ item.image }}" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="{{site.baseurl}}{{ item.image}}" alt="">
                                </a>
                                <!-- Product Description -->
                                <div class="product-description position-absolute d-block w-100 h-100 p-4">
                                    <a href="{{ item.permalink }}">
                                        <h6>{{ item.title }}</h6>
                                    </a>
                                </div>
                              </div>
                              {% endif %}
                        {% endfor %}
                        
                  </div>
              </div>
          </div>
      </div>
  </section>
