<section id="sect--welcome" class="pt-5 pb-5 mt-5 mb-5 position-relative">
    <img src="{{site.baseurl}}/img/core-img/shape-round-gray.png" class="ornament position-absolute s1">
    <img src="{{site.baseurl}}/img/core-img/shape-round-green.png" class="ornament position-absolute s2">
    <div class="container text-center">
        <div class="row">
            <div class="col-12">
                <h4>WELCOME TO</h4>
                <img src="{{site.baseurl}}/{{ site.logo }}" class="img-fluid mt-5 mb-5" alt="">
                <p>We offer inspiring spaces with inviting design, flexible environment and genuine experiences, for the thriving comunities of business and professionals at any scales to work, live and be active.</p>
            </div>
        </div>
    </div>
</section>

<section id="sect-welcome-2" class="pt-5 pb-5 mt-5 mb-5 position-relative">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-4 p-4 banner1">
                <img src="{{ site.baseurl }}/img/bg-img/bg-2.jpg" alt="">
            </div>
            <div class="col-12 col-md-8 col-lg-8 p-4 banner2" style="background: url(img/bg-img/bg-plus.png) no-repeat center center;">
                <h4>OUR HALLMARK</h4>
                <h2 class="display-3">YOUR EVERYDAY SPACES TO GROW AND SCALE THAT CONNECTS YOU WITH EVERYTHING INSPIRING AND MAKES YOU FEEL WELL.</h2>
                <img src="{{site.baseurl}}/img/core-img/shape-plus-yellow.png" class="ornament position-absolute s3">
            </div>
        </div>
    </div>
</section>