<!--
<div class="top_catagory_area section-padding-10 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Teamwear, Apparel & Equipment</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6 col-sm-6 col-md-6 banner odd">
                    <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(img/bg-img/bg-2.jpg);">
                        <div class="catagory-content">
                            <a href="#">Apparel</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 banner even">
                    <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(img/bg-img/bg-3.jpg);">
                        <div class="catagory-content">
                            <a href="#">Equipment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
-->
<section>
    <div class="container">
        <div class="row">
            <h3>Welcome to</h3>
            <h2>WELLSPACES.CO</h2>
            <img src="{{site.baseurl}}/{{ site.logo }}" alt="">
            <p>We offer inspiring spaces with inviting design, flexible environment and genuine experiences, for the thriving comunities of business and professionals at any scales to work, live and be active.</p>
        </div>
    </div>
</section>
