<section class="new_arrivals_area section-padding-10 clearfix">
  <div class="container-fluid pt-5 mt-5">
      <div class="row">
          <div class="col-12">
              <div class="mb-50">
                <h4>OUR MILESTONE</h4>
                <h2 class="display-3">YEARS GONEBY. EVERY STEP WE EMBRACED<br>HAS LED US TO WHERE WE ARE NOW.</h2>
              </div>
          </div>
      </div>
  </div>

  <div style="background-image: url({{site.url}}{{page.milestone-image}});background-size:cover">
    <div class="container-fluid pb-5 mb-5">
        <div class="row">
            <div class="col-4">
              <ul>
                <li><strike>2012</strike></li>
                <li><strike>2014</strike></li>
                <li><strike>2016</strike></li>
                <li><strike>2018</strike></li>
                <li>2019</li>
              </ul>
            </div>
            <div class="col-8">
              {{page.milestone-description}}
            </div>
        </div>
    </div>
  </div>
</section>