<section class="new_arrivals_area section-padding-10 clearfix">
  <div class="container-fluid pt-5 mt-5">
      <div class="row">
          <div class="col-12">
              <div class="mb-50">
                <h4>OUR MILESTONE</h4>
                <h2 class="display-3">YEARS GONEBY. EVERY STEP WE EMBRACED<br>HAS LED US TO WHERE WE ARE NOW.</h2>
              </div>
          </div>
      </div>
  </div>

  <div class="container-fluid pb-5 mb-5">
      <div class="row">
          <div class="col-12" style="background: url({{page.milestone-image}}) no-repeat cover">
            {{page.milestone-description}}
          </div>
      </div>
  </div>
</section>