<section class="pb-4 pb-sm-5 mb-4 mb-sm-5 clearfix">
  <div class="container-fluid pt-5 mt-5">
      <div class="row">
          <div class="col-12">
              <div class="mb-50">
                <h4>DIVERSE FACES OF EXPERTS WHO GRACED OUR EVENTS</h4>
                <h2 class="display-3">OUR SPEAKERS + MENTORS</h2>
              </div>
          </div>
      </div>
  </div>
  <div class="container-fluid pb-5 mb-5">
      <div class="row">
      {% assign items = site.member  | sort:"date" | reverse %}
      {% for item in items %}
        <div class="col-lg-2 col-md-3 col-6">
          <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="{{item.image}}" alt="">
              </a>
        </div>
      {% endfor %}
      </div>
  </div>
</section>