<section class="section-padding-10 clearfix grad-1">
  <div class="container-fluid pt-5 mt-5">
      <div class="row">
          <div class="col-12">
              <div class="mb-50">
                <h4>SAY HI IF YOU MEET THEM</h4>
                <h2 class="display-3">OUR "A" TEAM</h2>
              </div>
          </div>
      </div>
  </div>

  <div class="container-fluid pb-5 mb-5">
      <div class="row">
      {% assign teams = site.team  | sort:"date" | reverse %}
      {% for team in teams %}        
        <div class="col-lg-2 col-md-3 col-6">
          <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="{{site.baseurl}}{{team.image}}" alt="">
              </a>
        </div>
      {% endfor %}
      </div>
  </div>
</section>