---
layout: default
---

<style>
    .hero-content{
        visibility: hidden;
    }
</style>

{% include jumbotron.html %}

<section>

    <div class="container-fluid mt-5 mb-5 pt-5 pb-5">
        <div class="row justify-content-center">
            <div class="col-12">
                {{content}}
            </div>
        </div>
    </div>

</section>

{% if page.path == "_nav/about.markdown" %}
    {% include milestone-widget.html %}
{% endif %}

{% if page.path == "_nav/meet-the-team.markdown" %}
    {% include team-widget.html %}
{% endif %}

{% if page.path == "_nav/our-members.markdown" %}
    {% include members-widget.html %}
    {% include company-widget.html %}
{% endif %}

{% if page.path == "_nav/whats-on.markdown" %}
    {% include deals-widget.html %}
{% endif %}

{% include gallery-widget.html %}