---
layout: default
---

{% assign current_cat = page.categories[0] %}

<section class="welcome_area bg-img background-overlay" style="background-image: url({{site.baseurl}}/uploads/Featured-Image-Our-Service-1920x720.jpg">
    <div class="container-fluid h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="hero-content text-center">
                    <h2>SPACES DESIGNED FOR<br>RESULTS AND FOR YOU TO FEEL</h2>
                    <img src="{{site.baseurl}}/img/core-img/gen-better.png" alt="" class="img-fluid mb-5">
                </div>
            </div>
            <div class="col-12">
                <ul id="jumbotron--nav" class="d-flex justify-content-center  align-items-center mt-5">
                    {% if page.url == "/" %}<li class="p-4 active">{% else %}<li class="p-4">{% endif %}
                        <a href="{{site.baseurl}}">
                            HOME
                        </a>
                    </li>
                    {% for topmenu in site.nav %}
                        {% if topmenu.permalink == page.permalink %}<li class="p-4 active">{% else %}<li class="p-4">{% endif %}
                            <a href="{{site.baseurl}}{{ topmenu.permalink }}">
                                {{ topmenu.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <img src="{{site.baseurl}}{{page.image[0]}}" class="w-100">
            </div>
            <div class="col-6">
                <div>
                    <h3><img src="{{ site.baseurl }}/img/core-img/logo.png" alt=""> AT {{page.title}}</h3>
                    <address>{{page.address}}</address>
                </div>
                <div>
                    <p>{{content}}</p>
                </div>
                <div><img src="{{site.baseurl}}{{page.image[1]}}"></div>
            </div>
        </div>

        <div class="row">
            <div class="text-center">
                <h2 class="display-3">FEATURES</h2>
                <p>{{page.featuresdesc}}</p>
                <div>
                    {% assign features = page.featureslist %}
                    {% for feature in features %}
                        <span>{{feature}}</span>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row">
            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="788.54" height="443" type="text/html" src="{{page.video}}?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0"></iframe>
        </div>

        <div class="row">
            <div class="col-6">
                page pricing
            </div>
            <div class="col-6">
                {{page.mapcoordinate}}
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <img src="{{site.baseurl}}{{page.photo[0]}}" class="w-100" />
            </div>
            <div class="col-6 d-flex">
                {% assign photos = page.photo %}
                {% for photo in photos %}
                    <a href="" class="w-25 d-block"><img src="{{site.baseurl}}{{photo}}" class="w-100" /></span>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% include gallery-widget.html %}
