---
layout: default
---

<style>
    .hero-content{
        visibility: hidden;
    }
</style>

{% assign current_cat = page.categories[0] %}

{% include jumbotron.html %}


<section class="pt-4 pt-sm-5 pb-4 pb-sm-5 mt-4 mt-sm-5 mb-4 mb-sm-5">
    <div class="container-fluid">
        <div class="row mb-5 pb-5">
            <div class="col-12 col-sm-8 offset-sm-2 mb-2 mb-sm-5">
              <div class="mb-5 text-center">
                <img src="{{ site.baseurl }}/img/core-img/logo.png" class="w-50 w-sm-25 mb-5" alt="">
                <h3 class="mb-3">{{page.title}}</h3>
                <address class="mb-5">{{page.address}}</address>
                <p class="mb-5" style="font-family: georgia;font-size: 19px;color: #111;">{{content}}</p>
              </div>
            </div>
            <div class="col-6 p-2 p-sm-5">
                <img src="{{site.baseurl}}{{page.image[0]}}" class="w-100">
            </div>
            <div class="col-6 p-2 p-sm-5">
                <div><img src="{{site.baseurl}}{{page.image[1]}}"></div>
            </div>
        </div>
        
        <style>
          .features-list span{
            font-size: 21px;
            font-family: georgia;
            padding: 0.5rem 1rem;
            display: inline-block;
          }
        </style>
        <div class="row mt-5 mb-5 pt-5 pb-5">
            <div class="col-12 col-sm-6 offset-sm-3 text-center">
                <h2 class="display-3 mb-5">FEATURES</h2>
                <p class="mb-5">{{page.featuresdesc}}</p>
                <div class="features-list">
                    {% assign features = page.featureslist %}
                    {% for feature in features %}
                        <span>{{feature}}</span>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row mt-5 mb-5">
          <div class="col-12">
            {{page.video}}
          </div>
        </div>

        <div class="row mt-5 mb-5 pt-5 pb-5">
            <div class="col-12 col-sm-6">
                <h2 class="display-3 mb-5">PRICE & PACKAGES</h2>
                <p class="mb-5">{{page.pricedesc}}</p>
                <strong class="d-block mb-3">Price starts from:</strong>
                <table class="table">
                  <tr>
                    <th scope="col">PACKAGE</th>
                    <th scope="col">PRICES</th>
                  </tr>
                {% assign prices = page.price %}
                {% for price in prices %}
                  <tr>
                    <td>{{price[0]}}</td>
                    <td>{{price[1]}}</td>
                  </tr>
                {% endfor %}
                </table>
            </div>
            <div class="col-12 col-sm-6">
                {{page.mapcoordinate}}
            </div>
        </div>

        <div class="row mt-5 mb-5 pt-5 pb-5 d-none">
            <div class="col-6">
                <img src="{{site.baseurl}}{{page.photo[0]}}" class="w-100" />
            </div>
            <div class="col-6">
                <div class="row">
                {% assign photos = page.photo %}
                {% for photo in photos %}
                    <a href="" class="col-3 p-4">
                        <span class="rounded-circle d-block overflow-hidden" style="overflow: hidden"><img src="{{site.baseurl}}{{photo}}" class="w-100" /></span>
                    </a>
                {% endfor %}
                </div>
            </div>
        </div>
        
        <div class="row mt-5 pt-5">
              <h2 class="col-12 display-3">SOME SHOTS TO CONSIDER</h2>
              {% assign photos = page.photo %}
              {% for photo in photos %}
              <div class="col-6 col-sm-4 mb-4 p-2 p-sm-5">
                <img src="{{site.baseurl}}{{photo}}" class="w-100" />
              </div>
              {% endfor %}
        </div>
                
    </div>
</section>

{% include gallery-widget.html %}
