---
layout: default
---

<style>
    .product-description img{
        display:none;
    }
</style>
{% assign current_cat = page.categories[0] %}
<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb_area bg-img" style="background-image: url({{site.baseurl}}/img/bg-img/breadcumb.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <a href="{{site.url}}">HOME</a> <span>&middot;</span> <a href="{{site.baseurl}}/product/">ALL PRODUCTS</a> <span>&middot;</span> <a href="{{site.baseurl}}/product/{{page.categories}}">{{ page.categories }}</a> <span>&middot;</span> <span>{{ page.title }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="container single_product_details_area d-flex">

    <!-- Single Product Thumb -->
    <div class="single_product_thumb clearfix">
        <div class="product_thumbnail_slides owl-carousel">
            {% assign images = page.image %}
            {% if current_cat == 'teamwear' %}
                {% for image in images offset:1 %}
                    <img src="{{site.baseurl}}{{image}}" class="d-block w-100"  />
                {% endfor %}
            {% else %}
                {% for image in images %}
                    <img src="{{site.baseurl}}{{image}}" class="d-block w-100"  />
                {% endfor %}          
            {% endif %} 
        </div>
    </div>


    <!-- Single Product Description -->
    <div class="single_product_desc clearfix">
        <span>{{ page.brand }}</span>
        <a href="cart.html">
            <h2>{{ page.title }}</h2>
        </a>
        {% if current_cat != 'teamwear' %}
            {% if page.saleprice and page.saleprice != 0 %}
                <p class="product-price"><span class="old-price">{{ page.price }}</span> <span class="price">{{ page.saleprice }}</span></p>
            {% else %}
                <p class="product-price price">{{ page.price }}</p>
            {% endif %}
            <div class="product-description">
                {{ content }}
            </div>

            <!-- Form -->
            <form class="cart-form clearfix" method="post">
                <!-- Select Box -->
                <div class="select-box d-flex mt-50 mb-30">
                    <select name="select" id="productSize" class="mr-5">
                        {% assign sizes = page.size %}
                        {% for size in sizes %}
                        <option value="value">Size: {{size}}</option>
                        {% endfor %}
                    </select>
                    <div class="nice-select mr-5" tabindex="0">
                            <span class="current">Size: {{sizes[0]}}</span>
                            <ul class="list">
                                {% for size in sizes %}
                                    <li data-value="value" class="option">Size: {{size}}</li>
                                {% endfor %}
                            </ul>
                    </div>
                    {% assign colors = page.color %}
                    <select name="select" id="productColor" style="display:none">
                        {% for color in colors %}
                        <option value="value">Color: {{color}}</option>
                        {% endfor %}
                    </select>
                    <div class="nice-select" tabindex="0">
                        <span class="current">Color: {{colors[0]}}</span>
                        <ul class="list">
                            {% for color in colors %}
                                <li data-value="value" class="option selected">Color: {{color}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- Cart & Favourite Box -->
                <div class="cart-fav-box d-flex align-items-center">
                    <!-- Cart -->
                    <a href="https://wa.me/{{ site.wa }}/?text=Admin, saya mau pesan {{ page.title }}" class="btn essence-btn">Pesan Sekarang <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </form>
        {% else %}
            <div class="product-description">
                {{ content }}
            </div>
            <h4>Ameteur Set</h4>
            <p class="product-price price">{{ page.teamwearprice[0] }}</p>
            <div class="product-description">
                <p><strong>Package Detail:</strong></p>
                {{ page.teamweardesc[0] }}
            </div>
            <!-- Cart & Favourite Box -->
            <div class="cart-fav-box d-flex align-items-center">
                <!-- Cart -->
                <a href="https://wa.me/{{ site.wa }}/?text=Admin, saya mau pesan {{ page.title }} amateur set" class="btn essence-btn mb-50">Pesan Sekarang <i class="fas fa-long-arrow-alt-right"></i></a>
            </div>
            <h4>Pro Set</h4>
            <p class="product-price price">{{ page.teamwearprice[1] }}</p>
            <div class="product-description">
                <p><strong>Package Detail:</strong></p>
                {{ page.teamweardesc[1] }}
            </div>
            <!-- Cart & Favourite Box -->
            <div class="cart-fav-box d-flex align-items-center">
                <!-- Cart -->
                <a href="https://wa.me/{{ site.wa }}/?text=Admin, saya mau pesan {{ page.title }} pro set" class="btn essence-btn">Pesan Sekarang <i class="fas fa-long-arrow-alt-right"></i></a>
            </div>
        {% endif %}
    </div>
</section>
